.home-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-container {
    display: flex;
    padding: 30px;

}

.right-container {
    display: flex;
    padding: 30px;
}